<% layout('layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3 id="cmp">Edit your Complaint:</h3>

      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">
          <label id="cmp" for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            value="<%= listing.title %>"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label id="cmp" for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="listing[description]"
            required
          ><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
        <label id="cmp" class="form-label">Current Image:</label><br>
        <img src="<%= listing.image %>" alt="Current Image" id="image-preview" class="img-fluid mb-2" style="max-height: 200px; border-radius: 12px;">
          <br>
        <label id="cmp" for="image-input" class="form-label">Upload New Image (Optional):</label>
        <input name="listing[image]" type="file" class="form-control" id="image-input" />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label id="cmp" for="date" class="form-label">Date</label>
            <input
              name="listing[date]"
              value="<%= listing.date.toISOString().split('T')[0] %>"
              type="date"
              class="form-control"
            />
          </div>

          <div class="mb-3 col-md-8">
            <label id="cmp" for="city" class="form-label">City</label>
            <input
              name="listing[city]"
              value="<%= listing.city %>"
              type="text"
              class="form-control"
            />
          </div>
        </div>

        <div class="mb-3">
          <label id="cmp" for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            value="<%= listing.location %>"
            type="text"
            class="form-control"
          />
        </div>
        <button class="btn btn-dark add-btn mb-3">Save Changes</button>
      </form>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const fileInput = document.getElementById('image-input');
      const imagePreview = document.getElementById('image-preview');

      if (fileInput && imagePreview) {
        fileInput.addEventListener('change', () => {
          const file = fileInput.files[0];
          
          if (file) {
            const reader = new FileReader();
            
            reader.onload = (e) => {
              imagePreview.src = e.target.result;
            };
            
            reader.readAsDataURL(file);
          }
        });
      }
    });
  </script>
</body>